/* Normalized  intialization start */


@media (min-width: 576px) {
    .container{
        max-width: 540px !important;
        margin: 0 auto;
    }
    .component-section{
        padding: 30px 10px;
     }
}
@media (min-width: 768px) {
    .container{
        max-width: 720px !important;
        margin: 0 auto;
    }
    .component-section{
        padding: 30px 10px;
     }
}
@media (min-width: 992px) {
    .container{
        max-width: 960px !important;
        margin: 0 auto;
    }
    .component-section{
        padding: 30px 15px;
     }
}
@media (min-width: 1200px) {
    .container{
        max-width: 1140px !important;
        margin: 0 auto;
    }
    .component-section{
        padding: 50px 30px;
     }
}
@media (min-width: 1400px) {
    .container{
        max-width: 1320px ;
        margin: 0 auto;
    }
    .component-section{
        padding: 50px 30px;
     }
}

/* Normalized  intialization end  */



@media (max-width: 992px) {
    #cfcheader {
        height: auto;
    }

} 

#cfcheader {
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .08);
    height: 66px;
    position: relative;
    transition: transform .3s ease-in-out;
    z-index: 1020;
}